<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174546411912-8mudruoan1psm7pmvim86r4d15odh5ks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174546411912-8mudruoan1psm7pmvim86r4d15odh5ks</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>174546411912-af98pf41g27gae1rnv00v9r06iifqiro.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDaMg2a0SANWrfmKG9Qe20OnzJ-fR-tIGU</string>
	<key>GCM_SENDER_ID</key>
	<string>174546411912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.keethan.project</string>
	<key>PROJECT_ID</key>
	<string>project-4f80a</string>
	<key>STORAGE_BUCKET</key>
	<string>project-4f80a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174546411912:ios:90d57221e64637d91cda3d</string>
</dict>
</plist>